{#<html>#}
{#<head>#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'home.html' %}
{% block body %}

<body>    <br><br>

<div class="container-fluid">
<form name="form1" method="post" action="/feedbacksearch#about">
  <table style="width:95%;" border="1" align="center " class="TABLE table-dark text-white">
    <tr>
      <td colspan="3">  <div class="input-group mb-1"><span class="col-form-label-sm"> DATE : </span>&nbsp;
        <input type="date" name="textfield" class="form-control" required>
                                  <div class="input-group-append">
        <input type="submit" name="submit"  value="SEARCH" class="btn btn-dark" ></div>
            </div></td>
      </tr>
    <tr>
      <td width="85">USERNAME</td>
      <td width="82">DATE</td>
      <td width="84">FEEDBACK</td>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{ i.feedback }}</td>
      <td>{{ i.date }}</td>
      <td>{{ i.USER.fname }} {{ i.USER.lname }}</td>
    </tr>
  {% endfor %}
</table>
</form>
</div>
</body>
{% endblock %}
{#</html>#}
