<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>LOGIN PAGE</title>
<style type="text/css">
<!--
.style3 {font-family: Arial, Helvetica, sans-serif}
-->
</style>
</head>

<body>
<div align="center">
<form id="form1" name="form1" method="post" action="/login_action">
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <table width="258" border="1">
    <tr>
      <td width="90"><span class="style3">USERNAME</span></td>
      <td width="152"><label>
        <input type="text" name="textfield" />
      </label></td>
    </tr>
    <tr>
      <td><span class="style3">PASSWORD</span></td>
      <td>
        <input type="password" name="password" id="password" />
</td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <label>
        <input name="Submit" type="submit" class="style3" value="LOGIN" />
        </label>
      </div></td>
    </tr>
  </table>
</form>
</div>
</body>
</html>
