{#<html>#}
{#<head>#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'home.html' %}
{% block body %}
<body> <br><br>
<div class="container-fluid">
<form name="form1" method="post" action="/ratingsearch#about">
    <table  style="width:95%;" border="1" align="center" class="TABLE table-dark text-white">
  <tbody>
    <tr>
      <td colspan="4"><div class="input-group mb-1"> <span class="col-form-label-sm"> DATE : </span>&nbsp;
        <input type="date" name="textfield" class="form-control" required >
                        <div class="input-group-append">
        <input type="submit" name="submit" class="btn btn-dark" value="SEARCH"></div></div></td>
      </tr>
    <tr>
      <td width="46">NAME</td>
      <td width="58">RATING</td>
      <td width="59">REVIEW</td>
      <td width="86">DATE</td>
    </tr>
    {% for i in val %}
    <tr>
     <td>{{ i.USER.fname }} {{ i.USER.lname }}</td>
      <td>{{ i.rating }}</td>
      <td>{{ i.review }}&nbsp;</td>
      <td>{{ i.date }}&nbsp;</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</form>
</div>
</body>
{% endblock %}
{#</html>#}

